.no-underline {text-decoration: none;}
section, .section { 
    margin: auto;
    padding: 2em;
}
.margin-bottom { margin-bottom: 2em !important; }
.less-margin-bottom { margin-bottom: -0.75em !important; }

.ballot-box-wrapper {
    width: 90%;
    margin: 2em auto auto auto;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: flex-start;
}

.ballot-box {
    text-align: left;
    background-color: var(--md-ref-palette-neutral20);
    width: 20em;
    min-height: 8em;
    padding: 1.5em;
    margin: 1em;
    border-radius: 1em;
}
.ballot-box:hover {
    background-color: var(--md-ref-palette-neutral30);
}
.box-finished {
    background-color: var(--primary-container-dark);
}

.candidate-box {
    width: 20em;
    background-color: var(--md-ref-palette-neutral20);
    padding: 1em 0 1em 0;
}
.selected {
    background-color: var(--surface-variant-dark);
}
.button-box-candidate {
    width: 100%;
    text-align: right;
    padding: 0 1em 0.5em 0;
    margin-top: -0.5em;
}
.button-box-candidate Button {
    margin: auto 0.5em auto 0.5em;
}
.padding { padding: 1em; }